
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="distribution" content="global" />
    <meta name="author" content="G.F. Inntek" />
    <meta charset="utf-8" />
    <title>@ViewBag.AppName</title>
    <link rel="icon" href="~/Images/index.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light body_login">
    <main id="context" class="position-absolute d-flex flex-column justify-content-center align-items-center h-100 w-100">
        <img class="mb-4" src="~/Images/imagotipo-fransun.png" style="height:150px;filter:drop-shadow(0 0 7px #f8f9fa);" />
        <div class="bg-white rounded shadow-6dp pt-5 pb-4 pl-5 pr-5" style="max-width:500px;width:100%">
            <form data-bind="submit:SubmitLogin">
                <div class="form-group d-none">
                    <h5 class="text-dark text-center my-0 py-0">Portal @ViewBag.AppName</h5>
                </div>
                <div class="form-group">
                    <label class="text-muted" for="exampleInputEmail1">Usuario</label>
                    <input type="email" data-bind="textInput:Usuario" maxlength="250" autocomplete="off" class="form-control text-center text-lowercase" id="exampleInputEmail1" required="required"/>
                </div>
                <div class="form-group">
                    <label class="text-muted" for="exampleInputPassword1">Contraseña</label>
                    <input type="password" data-bind="textInput:Password" maxlength="8" autocomplete="off" class="form-control text-center" id="exampleInputPassword1" required="required"/>
                </div>
                <div class="form-group form-check pl-1 d-none">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing" />
                        <label class="custom-control-label text-muted" for="customControlAutosizing">Recordar usuario</label>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-link text-decoration-none">
                        <span><i class="fas fa-sign-in-alt mr-2"></i>Entrar</span>
                    </button>
                </div>
            </form>
        </div>

    </main>

    <div id="alertas" class="front-panel mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div id="alert_ex" class="alert alert-danger alert-dismissible fade show shadow" role="alert">
                        <i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;
                        <strong>Ocurrió un error.</strong>&nbsp;&nbsp;<span data-bind="text:MensajeAlerta"></span>
                        <button type="button" class="close allow-events" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="fixed-bottom" style="z-index:-1;">
        <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#9eb5d9" />
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#b6c7e2" />
                <use xlink:href="#gentle-wave" x="50" y="7" fill="#cedaec" />
            </g>
        </svg>
    </footer>

    <div class="modal fade" id="modal_procesando" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary p-2">
                    <h5 class="modal-title text-left text-white w-100 m-0">Procesando</h5>
                </div>
                <div class="modal-body p-2">
                    <div class="d-flex justify-content-center">
                        <h1 class="text-primary"><i class="fas fa-cog fa-spin"></i><i class="fas fa-cog fa-spin"></i><i class="fas fa-cog fa-spin"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/repository")

    <script>

        const repository = new Repository();

        const LoginViewModel = {
            Usuario: ko.observable('desarrollo.ti4@grupofransun.com.mx'),
            Password: ko.observable('11111111'),

            SubmitLogin: function () {

                this.OcultarAlerta();
                let usuario = this.Usuario(), password = this.Password(), error = false;

                if (usuario.trim().length == 0 || !usuario || usuario == undefined || usuario == null) {
                    AlertasViewModel.MensajeAlerta("El campo usuario es inválido.");
                    error = true;
                }

                if (!error && password.trim().length < 8) {
                    AlertasViewModel.MensajeAlerta("La contraseña debse tener 8 caracteres.");
                    error = true;
                }

                if (error) {
                    this.MostrarAlerta();
                    return;
                }

                let loginData = {
                    Email: usuario,
                    Password: password
                };

                sessionStorage.setItem('GF_USER_PIER2R', usuario);
                sessionStorage.setItem('GF_PASSWORD_PIER2R', password);

                $("#modal_procesando").modal("show");
                repository.UsuariosController.Login(loginData).then(this.HandleLogin);

            },
            MostrarAlerta: function () {
                $("#alert_ex").show();
            },
            OcultarAlerta: function () {
                $("#alert_ex").hide();
            },
            HandleLogin: function (response) {

                console.log(response);

                setTimeout(function () { $("#modal_procesando").modal("hide"); }, 500);

                if (response.Success) {
                    window.location.href = window.location.origin + "/Home";
                }

                if (!response.Success) {
                    AlertasViewModel.MensajeAlerta(response.Error.Title + " " + response.Error.Message);
                    AlertasViewModel.MostrarAlerta();
                }
            },

        };

        const AlertasViewModel = {

            MensajeAlerta: ko.observable(),
            OcultarAlerta: function () {
                $("#alert_ex").hide();
            },
            MostrarAlerta: function () {
                $("#alert_ex").show();
            }

        }

        $(document).ready(function () {
            LoginViewModel.OcultarAlerta();
            ko.applyBindings(LoginViewModel, window.context);
            ko.applyBindings(AlertasViewModel, window.alertas);
            //  $("#modal_procesando").modal("show");
        });

    </script>

</body>
</html>